<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!-- spring boot默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 定义日志文件的存储地址(FILE_PATH)和文件名前缀(APP_NAME) ，当部署到tomcat的情况下，FILE_PATH需要填写为tomcat/logs的绝对目录-->
    <!-- <property name="FILE_PATH" value="logs"/> -->
    <!-- <property name="COMMON_LOG_PATTERN" value="[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger]  -  %msg%n"/> -->
    <springProperty scope="context" name="FILE_PATH" source="app.logDir" defaultValue="logs" />
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="APP_EVN" source="spring.cloud.config.profile" />
    <property name="COMMON_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} [${APP_EVN}] %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <!-- spring.profiles.active在命令行运行时指定 或 从bootstrap.properties获取 -->

    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${COMMON_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>
      
    <!-- 文件日志 -->     
    <!-- 产生一个实时日志文件，实时日志每超过100M自动备份，日志文件保存60天，最大容量为10G -->
    <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 10GB -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${COMMON_LOG_PATTERN}
            </pattern>
        </encoder>

        <file>${FILE_PATH}/${springAppName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}/${springAppName}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <!-- 输出到控制台和文件，可定义更多的 Appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <!--<appender-ref ref="ASYNC_ROCKETMQ" />-->
    </root>

    <!-- 生产阶段 日志级别 -->
    <!-- <springProfile name="pro">
      <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_RABBITMQ" />
      </root>
    </springProfile> -->

    <!-- <springProfile name="test">
      <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_RABBITMQ" />
      </root>
    </springProfile> -->

    <!-- 开发与测试阶段 日志级别 -->
    <!-- <springProfile name="dev">
      <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_RABBITMQ" />
      </root>
    </springProfile> -->

</configuration>
