<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.platform.aggpay.trade.mapper.FeeParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ins.platform.aggpay.trade.entity.FeeParam">
        <id column="id" property="id" />
        <result column="channeltype" property="channeltype" />
        <result column="feetype" property="feetype" />
        <result column="feevalue" property="feevalue" />
        <result column="valid_ind" property="validInd" />
        <result column="creator_code" property="creatorCode" />
        <result column="create_time" property="createTime" />
        <result column="updater_code" property="updaterCode" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channeltype, feetype, feevalue, valid_ind AS validInd, creator_code AS creatorCode, create_time AS createTime, updater_code AS updaterCode, update_time AS updateTime
    </sql>

</mapper>
