<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2020, Ripin Yan. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.platform.aggpay.trade.mapper.FeeParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ins.platform.aggpay.trade.model.entity.FeeParam">
        <id column="id" property="id" />
        <result column="channeltype" property="channeltype" />
        <result column="feetype" property="feetype" />
        <result column="feevalue" property="feevalue" />
        <result column="valid_ind" property="validInd" />
        <result column="creator_code" property="creatorCode" />
        <result column="create_time" property="createTime" />
        <result column="updater_code" property="updaterCode" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channeltype, feetype, feevalue, valid_ind AS validInd, creator_code AS creatorCode, create_time AS createTime, updater_code AS updaterCode, update_time AS updateTime
    </sql>

</mapper>
